{{extend name="../../../module/view/form_table/form" /}}

{{block name="form_search"}}
    <div class="am-form-group">
        <label class="am-form-label">反馈类型</label>
        <select name="type" class="am-radius">
            <option value="">{{:MyLang('please_select')}}</option>
            <option value="feedback">问题反馈</option>
            <option value="suggestion">功能建议</option>
            <option value="complaint">投诉</option>
            <option value="privacy_request">数据删除/隐私请求</option>
        </select>
    </div>

    <div class="am-form-group">
        <label class="am-form-label">{{:MyLang('common_service.goodscomments.form_item_stage')}}</label>
        <select name="stage" class="am-radius">
            <option value="">{{:MyLang('please_select')}}</option>
            {{foreach $common_service_muying_stage_list as $v}}
                <option value="{{$v.value}}">{{$v.name}}</option>
            {{/foreach}}
        </select>
    </div>

    <div class="am-form-group">
        <label class="am-form-label">{{:MyLang('common_service.goodscomments.form_item_is_enable')}}</label>
        <select name="is_enable" class="am-radius">
            <option value="">{{:MyLang('please_select')}}</option>
            <option value="1">显示</option>
            <option value="0">隐藏</option>
        </select>
    </div>
{{/block}}
